<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="SPA" stopProcessing="true">
            <match url="^(?!.*(\.js|\.css|\.png|\.jpg|\.jpeg|\.gif|\.ico|\.svg|\.ttf|\.woff|\.woff2|\.eot)).*$" />
            <conditions logicalGrouping="MatchAll" />
            <action type="Rewrite" url="./index.html" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
      <staticContent>
        <mimeMap fileExtension="woff" mimeType="application/font-woff" />
        <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
      </staticContent>
    </system.webServer>
  </configuration>
